/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* common css */
.section_title {
    font-size: 2.5rem;
    font-weight: 600;
}

.section_description {
    font-size: 1rem;
    font-weight: 400;
}

.logo a {
    font-family: 'Lobster', cursive;
    padding: 10px 20px;
    font-size: 2rem;
    color: #dc3545;
    text-decoration: none;
}

/* navigation section */
.btn_hover:hover {
    color: #fff;
}

.lk_hover:hover {
    color: #dc3545;
}

/* slider section start */

.banner_description {
    font-size: 12px;
}

.banner_title {
    font-size: 20px;
    font-weight: 700;

}

/* course section style */
.pd_course_btn {
    padding-top: 2rem;
}

.course_title {
    font-size: 1.5rem;
    font-weight: 600;
}

.course_description {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}

.c_price {
    font-size: 1.2rem;
    font-weight: 600;
}

/* join section  */
.custom_register_btn {
    background-color: #fff;
    color: #0d6efd;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 3px;
}

.register_title {
    font-size: 2rem;
    font-weight: 600;
}

.register_details {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}

/* client section style */
.brand_img {
    width: 140px;
    height: 35px;
}

/* footer style start */
.foot_bg {
    background-color: #161616;
}

.fa-facebook-f,
.fa-instagram,
.fa-linkedin-in {
    font-size: 18px;
    color: #fff;
    padding: 0px 4px;
}

.footer_address {
    font-size: 1rem;
    font-weight: 400;
}